/* Querylog popup styling */
.sledegehammer_querylog {
	position: fixed;
	top: 10px;
	left: 15px;
	right: 15px;
	bottom: 40px;
	overflow: auto;
	display: block;
	padding: 6px 0;
	background-color: white;
	color: #333;
	text-shadow: none;
	text-align: left;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	border-radius: 6px;
	outline: none;
}
.sledegehammer_querylog_sql {
	margin: 0;
	padding: 2px 7px;
	font: 10px Monaco, monospace;
	-webkit-font-smoothing: none;
	font-smoothing: none;
	white-space: pre-wrap;
}
.sledegehammer_querylog_sql:nth-child(odd) {
	background: whiteSmoke;
	border-top: 1px solid #F0F0FF;
	border-bottom: 1px solid #F0F0FF;
}
.sledegehammer_querylog .sql_keyword {
	color: blue;
}
.sledegehammer_querylog .sql_identifier {
	color: #009;
}
.sledegehammer_querylog_number {
	color: #999999;
	display: inline-block;
	min-width: 20px;
	text-align: right;
	margin-right: 4px;
}
.sledegehammer_querylog .sledegehammer_querylog_close {
	color: #888;
	font: 18px/12px sans-serif;
	text-decoration: none;
	right: 26px;
	position: fixed;
 }
 .sledegehammer_querylog_close:hover {
	color: #555;
	text-decoration: none;
 }
 .sledegehammer_querylog .execution_time {
	margin-left: 10px;
	font: italic 11px sans-serif;
	-webkit-font-smoothing: auto;
	font-smoothing: auto;
 }

/* Statusbar styling */
.statusbar, .statusbar-cache {
	color: #141414;
	font: normal 11px/26px Menlo, Monaco, monospace;
	text-shadow: 0 1px 0 #eee;
	padding: 0 0 0;
	margin: 5px 0 0 0;
	text-align: center;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0px;
	right: 0px;
	z-index: 5000;
	border-top: 1px solid #646464;
	background: #b5b5b5;
	background-image: -webkit-linear-gradient(bottom, rgb(151,151,151) 0%, rgb(191,191,191) 90%);
	background-image:    -moz-linear-gradient(bottom, rgb(151,151,151) 0%, rgb(191,191,191) 90%);
	background-image:     -ms-linear-gradient(bottom, rgb(151,151,151) 0%, rgb(191,191,191) 90%);
	background-image:      -o-linear-gradient(bottom, rgb(151,151,151) 0%, rgb(191,191,191) 90%);
	background-image:         linear-gradient(bottom, rgb(151,151,151) 0%, rgb(191,191,191) 90%);
}
.statusbar a {
	color: #141414;
	text-shadow: 0 1px 0 #eee;
	text-decoration: underline;
}
.statusbar a:hover {
	color: #000;
}
.statusbar .statusbar-close {
	position: absolute;
	left: 6px;
	bottom: 6px;
	width: 14px;
	height: 14px;
	font: 13px/10px sans-serif;
	color: #fff;
	background: #808080;
	text-decoration: none;
	text-align: center;
	border-radius: 7px;
}
.statusbar .statusbar-close:hover {
	color: #cdcdcd;
	background: #5d5d5d;
	text-decoration: none;
}
.statusbar-cache {
	border-bottom: 0;
	background: #f0f0f0;
}
.statusbar .statusbar-parsetime {
	position: relative;
}
.statusbar .statusbar-popout {
	display: none;
	position: absolute;
	bottom: 19px;
	left: -2px;
	background: #bfbfbf;
	border: 1px solid #646464;
	border-bottom: 0;
	border-radius: 8px 8px 0 0;
	white-space: nowrap;
	line-height: 22px;
}

.statusbar .statusbar-parsetime:hover > .statusbar-popout {
	display: block;
}
