
/* Statusbar styling */
.statusbar,
.statusbar-cache {
	color: #111;
	font: normal 11px/20px 'Lucida Grande', Helvetica, sans-serif;
	text-shadow: 0 1px 0 #e0e0e0;
	padding: 0 0 1px 0;
	margin: 5px 0 0 0;
	text-align: center;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0px;
	right: 0px;
	z-index: 10000;
	border-top: 1px solid #828282;
	background: #bcbcbc;
	background-image: -webkit-linear-gradient(bottom, #b5b5b5 0%, #d5d5d5 100%);
	background-image:    -moz-linear-gradient(bottom, #b5b5b5 0%, #d5d5d5 100%);
	background-image:     -ms-linear-gradient(bottom, #b5b5b5 0%, #d5d5d5 100%);
	background-image:      -o-linear-gradient(bottom, #b5b5b5 0%, #d5d5d5 100%);
	background-image:         linear-gradient(bottom, #b5b5b5 0%, #d5d5d5 100%);
	box-shadow: inset 0px 1px 0px #ececec;
}
.statusbar-placeholder {
	display: block;
	height: 22px;
	clear: both;
}
.statusbar .statusbar-divider {
	margin-right: 4px;
}
.statusbar a {
	display: inline-block;
	color: #111;
	font: normal 11px/20px 'Lucida Grande', Helvetica, sans-serif;
	text-shadow: 0 1px 0 #e0e0e0;
	text-decoration: none;
}
.statusbar a:hover {
	color: black;
	text-decoration: none;
	text-shadow: 0 1px 0 #efefef;
}
.statusbar .statusbar-tab {
	display: inline-block;
	position: relative;
	height: 20px;
	padding: 0px 1px;
	margin: 0px 1px;
}
.statusbar .statusbar-tab:hover {
	background-image: -webkit-linear-gradient(bottom, #a8a8a8 0%, #626262 40%, #d0d0d0 100%);
	background-image:    -moz-linear-gradient(bottom, #a8a8a8 0%, #626262 40%, #d0d0d0 100%);
	background-image:     -ms-linear-gradient(bottom, #a8a8a8 0%, #626262 40%, #d0d0d0 100%);
	background-image:      -o-linear-gradient(bottom, #a8a8a8 0%, #626262 40%, #d0d0d0 100%);
	background-image:         linear-gradient(bottom, #a8a8a8 0%, #626262 40%, #d0d0d0 100%);
}
.statusbar .statusbar-tab > a, .statusbar .statusbar-tab > span {
	display: inline-block;
	height: 20px;
	padding: 0 3px;
}
.statusbar .statusbar-tab:hover > a, .statusbar .statusbar-tab:hover > span {
	background-image: -webkit-linear-gradient(bottom, #bcbcbc 10%, #b0b0b0 30%, #d5d5d5 90%);
	background-image:    -moz-linear-gradient(bottom, #bcbcbc 10%, #b0b0b0 30%, #d5d5d5 90%);
	background-image:     -ms-linear-gradient(bottom, #bcbcbc 10%, #b0b0b0 30%, #d5d5d5 90%);
	background-image:      -o-linear-gradient(bottom, #bcbcbc 10%, #b0b0b0 30%, #d5d5d5 90%);
	background-image:         linear-gradient(bottom, #bcbcbc 10%, #b0b0b0 30%, #d5d5d5 90%);
}
.statusbar .statusbar-tab + .statusbar-divider {
	margin-left: -5px;
}
.statusbar .statusbar-divider + .statusbar-tab {
	margin-right: 0px;
}
.statusbar .statusbar-tab:hover + .statusbar-divider {
	visibility: hidden;
}
.statusbar .statusbar-close {
	display: inline-block;
	position: absolute;
	left: 0px;
	bottom: 1px;
	padding: 0px 5px 3px 6px;
	font: 18px/18px sans-serif;
	color: #606060;
	text-decoration: none;
	opacity: 0;
	-webkit-transition: opacity .15s ease-out;
	   -moz-transition: opacity .15s ease-out;
			transition: opacity .15s ease-out;
}
.statusbar:hover .statusbar-close {
	opacity: 1;
}
.statusbar .statusbar-close:hover {
	color: #111;
	text-decoration: none;
}
.statusbar-cache {
	border-bottom: 0;
	background: #f0f0f0;
}
.statusbar .statusbar-parsetime {

}
.statusbar .statusbar-popout {
	display: none;
	opacity: 0;
	position: absolute;
	bottom: 23px;
	left: -11px;
	background: #d6d6d6;
	background-image: -webkit-linear-gradient(bottom, #d6d6d6 0%, #e6e6e6 100%);
	background-image: -webkit-linear-gradient(bottom, #d6d6d6 0%, #e6e6e6 100%);
	background-image:    -moz-linear-gradient(bottom, #d6d6d6 0%, #e6e6e6 100%);
	background-image:     -ms-linear-gradient(bottom, #d6d6d6 0%, #e6e6e6 100%);
	background-image:      -o-linear-gradient(bottom, #d6d6d6 0%, #e6e6e6 100%);
	background-image:         linear-gradient(bottom, #d6d6d6 0%, #e6e6e6 100%);
	border: 1px solid #626262;
	border-bottom: 1px solid #d5d5d5;
	border-radius: 4px 4px 0 0;
	white-space: nowrap;
	line-height: 20px;
	padding: 0 13px;
	box-shadow: inset 0 1px 0px #f1f1f1;
	text-shadow: 0 1px 0 #eee;
	text-align: left;
}

.statusbar *:hover > .statusbar-popout {
	display: block;
	bottom: 19px;
	opacity: 1;
	-webkit-transition: opacity .35s ease-out;
	   -moz-transition: opacity .35s ease-out;
			transition: opacity .35s ease-out;
}

/* Querylog popup styling */
.statusbar-log {
	position: fixed;
	top: 0;
	left: 0;
	right: 8px;
	bottom: 0;
	overflow: auto;
	display: block;
	padding: 0 20px;
	color: #333;
	text-shadow: none;
	text-align: left;
	outline: none;
}
.statusbar-log-overlay {
	background: black;
	opacity: 0.2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.statusbar-log .log-container {
	margin: 30px auto;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
	max-width: 100%;
	z-index: 1;
	position: relative;
}
.log-container {
	border: 1px solid #999999;
	border-spacing: 0;
}
.log-header-column {
	padding: 3px 6px;
	margin: 0;
	text-align: left;
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
	white-space: nowrap;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background: #bcbcbc;
	background-image: -webkit-linear-gradient(bottom, #d1d1d1 0%, #f0f0f0 100%);
	background-image:    -moz-linear-gradient(bottom, #d1d1d1 0%, #f0f0f0 100%);
	background-image:     -ms-linear-gradient(bottom, #d1d1d1 0%, #f0f0f0 100%);
	background-image:      -o-linear-gradient(bottom, #d1d1d1 0%, #f0f0f0 100%);
	background-image:         linear-gradient(bottom, #d1d1d1 0%, #f0f0f0 100%);
	padding: 2px 7px;
	font: normal 11px/16px 'Lucida Grande', Helvetica, sans-serif;
}
.log-entries {
	font: normal 11px/16px 'Lucida Grande', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	border: 1px solid #999999;
	background: white;
}
.logentry > td {
	border-left: 1px solid #b3b3b3;
	padding: 2px 7px;
	margin: 0;
	white-space: pre-wrap;
	vertical-align: top;
}
.logentry > td:first-child {
	border-left: none;
	color: #969896;
}
.logentry:nth-child(even) {
	background: whiteSmoke;
}
.logentry-number {
	border-left: none;
	text-align: right;
}
.logentry-alert {
	color: #cc6666;
}
.logentry-warning {
	color: #de935f;
}
.logentry-debug {
	color: #969896;
}
.logentry-code {
	padding: 3px 7px;
	font: 10px/16px Monaco, monospace;
	-webkit-font-smoothing: none;
	font-smoothing: none;
}
.logentry .sql-keyword {
	color: blue;
}
.logentry .sql-identifier {
	color: #009;
}