/* Querylog popup styling */
.sledegehammer_querylog {
	position: fixed;
	top: 10px;
	left: 15px;
	right: 15px;
	bottom: 40px;
	overflow: auto;
	display: block;
	padding: 3px 0;
	background-color: white;
	color:#333;
	text-shadow: none;
	text-align: left;
	white-space: pre-wrap;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
	font: 11px Menlo, monospace;
}
.sledegehammer_querylog_number {
	color: #999999;
	display: inline-block;
	min-width: 20px;
	text-align: right;
}
.sledegehammer_querylog div {
	padding: 2px 7px;
}
.sledegehammer_querylog div:nth-child(odd) {
	background: whiteSmoke;
	border-top: 1px solid #F0F0FF;
	border-bottom: 1px solid #F0F0FF;
}
.sledegehammer_querylog_close {
	color: #909090;
	font-size: 22px;
	text-decoration: none;
	margin-right: 10px;
	margin-top: 5px;
 }
 .sledegehammer_querylog_close:hover {
	color: #808080;
	text-decoration: none;
 }
 .sledegehammer_querylog .execution_time {
	margin-left: 10px;
 }
 
/* Statusbar styling */
.statusbar_hide {
	margin-right: 4px;
	font: 14px sans-serif;
	text-decoration: none;
}
/* Debug blok in de voet */
.statusbar, .statusbarcache {
	color: #909090;
	font: normal 8pt Verdana,sans-serif;
	text-shadow: none;
	padding: .2em 0 0 0;
	margin: 5px 0 0 0;
	border-top: 1px solid #CCCCCC;
	background: #F5F5F5;
	text-align: center;
	clear: both;
	min-height: 18px;
	opacity: 0.95;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 5000;
}
.statusbar a {
	color: #909090;
	text-shadow: none;
}
.statusbarcache {
	border-bottom: 0;
	background: #f0f0f0;
}
.statusbar #statusbar_parsetimes {
	position: absolute;
	top: -18px;
	bottom: 18px;
	left: 0;
	right: 0;
	z-index: 10;
	border-top: 1px solid #CCCCCC;
	background: #F5F5F5;
	display: none; 
}

#statusbar_parsetime:hover > span#statusbar_parsetimes {
	display: block; 
}
